/* mobile first */
@media screen and (min-width: 300px){
  .line-xs{
    display:inline;
  }
}

@media screen and (min-width: 568px){
  .wrapper{
    width:80%;
  }
  #nav {
    width: 285px;
  }
  header h1{
    font-size: 4.6vw;
  }
  header h2{
    font-size: 2.47vw;
  }
  footer .label{
    font-size: 18px;
  }
  footer a span{
    font-size: 16px;
  }
  .heading{
    font-size:36px;
    margin:0;
  }
}

@media screen and (min-width: 768px){
  header{
    height:auto;
  }
  footer{
    padding: 18px 0;
  }
  .container{
    padding-top: 164px;
    padding-bottom: 60px;
    background-color:#fdfdfd;
  }
  .nav-tag:before{
    margin-top:-164px;
    height:164px;
  }

  /* nav expand full */
  .nav-wrapper{
    top:20px;
    right:4%;
  }
  .btn {
    display: none;
  }
  #toggle:checked ~ nav #nav,
  #nav {
    top: 5px;
    right:0;
    border-top-width:0;
  }
  #toggle:checked ~ nav #nav li,
  #nav li {
    display: inline; float: left;
  }
  #toggle:checked ~ nav #nav li a:hover,
  #nav li a:hover, #nav li a:focus {
    color: #E41B17;
  }
  #toggle:checked ~ nav #nav a,
  #nav a {
    line-height: 1.5em;
    height: 1.5em;
    display: inline;
    background: transparent;
    padding: 0 1.15em;
    border-bottom: 0
  }
  
  #toggle:checked ~ nav #nav #close,
  #nav #close {
    display: none;
  }
  /* end nav expand */

  .heading{
    font-size:40px;
  }
  .project{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    /*-webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;*/
    padding: 18px;
    margin: 20px auto;
    width:614px;
    height:246px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  .image, .text{
    width: 280px;
    height: 210px;
    display: inline-block;
    margin:0 auto;
  }
  .image{
    float:right;
  }
  .image img{
    height:100%;
  }
  .project h2{
    margin-bottom:16px;
  }
  .project h4{
    margin-top:16px;
  }
  .tabgroup div {
    padding-left: 30px;
  }
  .line-sm, .line-xs{
    display:block;
  }
}

@media screen and (min-width: 1024px){
  header h1{
    font-size:48px;
  }
  header h2{
    font-size:25px;
  }
  .nav-wrapper{
    position:absolute;
    top:0;
    right:0;
  }
  .project{
    padding: 20px;
    width:740px;
    height:295px;
  }
  .image, .text{
    width:340px;
    height:255px;
  }
  .project h2{
    font-size:26px;
    margin-bottom:20px;
  }
  .project h2 .parens{
    font-size:20px;
  }
  .tabgroup div {
    padding-top: 18px;
  }
  .project h4{
    margin-top: 20px;
  }
  .line-sm, .line-xs{
    display:inline;
  }
  .line-adjust{
    display:block;
  }
}

@media screen and (min-width: 1280px){
  .project{
    padding: 24px;
    width:886px;
    height:354px;
  }
  .image, .text{
    width:408px;
    height:306px;
  }
  .project h2{
    font-size:30px;
    margin-bottom:28px;
  }
  .project h4{
    margin-top: 28px;
  }
  .project p, .project h4, .project-list li, .tabgroup a{
    font-size:18px;
  }
  .line-adjust{
    display:inline;
  }
}
