.about {
  max-width: 408px;
  margin: 0 auto;

  &__image {
    width: 33%;
    max-width: 225px;
    margin: 20px 0;
  }

  &__img {
    border-radius: 50%;
  }

  p{
    margin: 1em 0;
  }
}

.expertise {
  text-align: center;

  &__heading {
    font-size: 24px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 16px;
  }

  &__sub-heading {
    display: block;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
  }

  &__box {
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 15px;
  }

  &--empty {
    display: none;
  }

  &__icon {
    font-size: 46px;
    color: $verdant;
    padding: 20px;
  }

  &__area {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 567px) {
  .expertise {
    &__box {
      padding: 10px 30px;

      &:nth-child(1n+0) {
        // clear every box
        clear: both;
      }
    }
  }
}

@media screen and (min-width: 568px) and (max-width: 767px) {
  .expertise {
    &__box {
      width: 50%;

      &:nth-child(3n+0) {
        // clear every third box
        clear: both;
      }
    }
  }
}

@media screen and (min-width: 768px){
  .about {
    max-width: 100%;
    display: flex;

    &__image {
      margin-right: 20px;
      flex: 0 0 25%;
    }

    &__description {
      margin: auto;
    }
  }

  .expertise {
    &__box {
      width: 33.333%;

      &:nth-child(4n+0) {
        // clear every fourth box
        clear: both;
      }
    }

    &--empty {
      display: block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .expertise {
    &__heading {
      font-size: 26px;
    }

    &__area {
      font-size: 22px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .expertise {
    &__heading {
      font-size: 30px;
    }
  }
}
