.article {
  &__date {
    font-family: $Helvetica !important;
    margin: 20px 0;
  }

  &__recent {
    margin-bottom: 10px;
    font-size: 30px;
  }

  &__content {
    // styles for injected HTML
    color: $pigeon-grey;

    h2, h3 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
      line-height: 1.6;
    }

    a {
      color: $ocean;
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;

      &:visited {
        color: $ocean;
      }

      &:hover,
      &:active {
        color: $sky;
        text-decoration: none;
      }
    }

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
      font-weight: 600;
    }

    blockquote {
      margin-left: 25px;
      margin-bottom: 20px;
      font-style: italic;
      line-height: 1.4;
    }

    table {
      margin-bottom: 20px;

      th {
        text-align: left;
      }

      th, td {
        padding: 6px 12px;
      }
    }

    ul, ol {
      font-family: $Raleway;
      margin-left: 60px;
      margin-bottom: 20px;
      line-height: 1.6;

      li {
        margin-bottom: 10px;
      }
    }

    code {
      font-family: $Consolas;
      font-weight: 400;
      color: $mine-shaft;
      background-color: $tin;
      border-width: 1px;
      border-style: solid;
      border-color: $light-grey;
      padding: .125rem .3125rem .0625rem;
    }

    pre {
      margin-bottom: 20px !important;
      overflow-y: hidden !important;

      code {
        border: none;
        padding: 0;
      }
    }

    small {
      font-size: 13px;
    }
  }
}