.article {
  &__date {
    font-family: $Helvetica !important;
    margin: 20px 0;
  }

  &__recent {
    margin-bottom: 10px;
    font-size: 30px;
  }

  &__content {
    p {
      margin-bottom: 20px;
    }
  }
}