.button {
  text-align: center;
  text-decoration: none;
  color: $black;
  font-size: 13px;
  width: 112px;
  padding: 5px 0;
  cursor: pointer;
  border: 1px solid $silver;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: $dark-grey;
  background-image: -webkit-linear-gradient(top, $dark-grey, $medium-grey);
  background-image: -moz-linear-gradient(top, $dark-grey, $medium-grey);
  background-image: -ms-linear-gradient(top, $dark-grey, $medium-grey);
  background-image: -o-linear-gradient(top, $dark-grey, $medium-grey);
  background-image: linear-gradient(to bottom, $dark-grey, $medium-grey);

  &:hover,
  &:active {
    background-color: $medium-grey;
    background-image: -webkit-linear-gradient(top, $medium-grey, $light-grey);
    background-image: -moz-linear-gradient(top, $medium-grey, $light-grey);
    background-image: -ms-linear-gradient(top, $medium-grey, $light-grey);
    background-image: -o-linear-gradient(top, $medium-grey, $light-grey);
    background-image: linear-gradient(to bottom, $medium-grey, $light-grey);
  }

  &:focus {
    outline: 0;
  }
}
