.dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 500;
  background: $shadow;

  &--open {
    height: 100vh;
    
    .contact-form {
      margin: 10px auto;
      opacity: 1;
    }
  }
}

.contact-form {
  position: relative;
  margin: 50vh auto;
  height: calc(100vh - 20px);
  width: 90%;
  max-width: 620px;
  background-color: $white;
  color: $pigeon-grey;
  font-family: 'Montserrat', Helvetica, sans-serif;
  overflow: auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 40px $shadow;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  &__heading {
    margin-bottom: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $dark-grey;
  }

  &__close {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 28px;
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
      cursor: pointer;
    }
  }

  &__container {
    padding: 16px;
    border-radius: 5px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $dark-grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 18px;
    resize: vertical;

    &::-webkit-input-placeholder {
      color: $silver;
    }

    &::-moz-placeholder {
      color: $silver;
    }

    &:-ms-input-placeholder {
      color: $silver;
    }

    &:-moz-placeholder {
      color: $silver;
    }
  }

  &__textarea {
    height: 100px;
  }

  &__submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #45a049;
    }
  }
}

@media screen and (min-width: 568px) {
  .contact-form {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .contact-form {
    width: 60%;
  }
}
