.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $black-veil;
  z-index: 100;
  font-size: 16px;

  &__title {
    display: inline-block;
    color: $crimson;
    font-weight: 700;
    margin-right: 10px;
    padding: 16px 0;
    transition: 0.5s padding ease;
  }

  &__list, 
  &__list-item {
    position: relative;
    display: inline-block;
    font-weight: 400;
  }

  &__link {
    text-decoration: none;
    color: $white;
    padding: 16px 10px;
    transition: 0.5s padding ease;

    &:hover::after {
      position: absolute;
      content: '';
      display: block;
      background: $white;
      height: 2px;
      width: 90%;
      bottom: -5px;
      left: 5%;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 51px;
    transition: 0.5s all ease;
  }

  .footer--small {
    height: 40px;
    font-size: 14px;

    .footer__title {
      padding: 11.5px 0;
    }

    .footer__link {
      padding: 12px 10px;
    }
  }
}

