.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 500;
  -webkit-transition: width 0.25s ease-in-out;
  -moz-transition: width 0.25s ease-in-out;
  -ms-transition: width 0.25s ease-in-out;
  -o-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;

  &--open {
    width: 100vw;
  }

  &__close {
    font-size: 28px;
    font-weight: bold;

    &:focus,
    &:hover,
    &:active {
      cursor: pointer;
    }
  }

  &__close-btn,
  &__close-btn:focus,
  &__close-btn:active {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles */
    margin: 25px auto 0;
    color: $pigeon-grey;
    cursor: pointer;
  }

  &__close-btn:hover {
    text-decoration: underline;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
  }

  &__content {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 90vw;
    background-color: $black;
    color: $pigeon-grey;
    overflow: auto;
    padding: 10px 25px 25px;

    p{
      margin: 1em 0;
    }
  }
}

@media screen and (min-width: 568px){
  .modal__content {
    width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .modal__content {
    width: 50vw;
  }
}

@media screen and (min-width: 1024px) {
  .modal__content {
    width: 45vw;
  }
}