.splash {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  min-height: 500px;
  background: url(../img/macbook.jpg) no-repeat 10% 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0s transform;
  }

  &__text {
    text-align: center;
    color: $white;
    font-weight: 400;
    padding-bottom: 5vh;
  }

  &__title {
    width: 280px; 
    margin: 0 auto;
    margin-top: 80px;

    &__text {
      background-color: $shadow;
      padding-top: 1px;
      padding-bottom: 4px;
      font-size: 28px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
  }

  &__heading {
    font-size: 38px;
  }

  &__portfolio {
    font-size: 16px;

    &::before {
      content: '';
      display: block;
      margin: 0 auto;
      margin-top: 14px;
      margin-bottom: 14px;
      background-color: $white;
      height: 2px;
      width: 52px;
      -webkit-transition: width 0.2s;
      -moz-transition: width 0.2s;
      -ms-transition: width 0.2s;
      -o-transition: width 0.2s;
      transition: width 0.2s;
    }

    &:hover::before { 
      width: 90px;
    }
  }

  &__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $silk-stockings;
  }
}

@media screen and (min-width: 568px) {
  .splash {
    &__title {
      width: 520px; 
      margin-top: 100px;

      &__text {
        font-size: 32px;
        font-weight: 300;
      }
    }

    &__text {
      padding-bottom: 0;
    }

    &__heading {
      font-size: 46px;
    }

    &__portfolio {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 768px) {
  .splash {
    &__title {
      width: 560px; 

      &__text {
        font-size: 37px;
      }
    }

    &__heading {
      font-size: 48px;
    }

    &__portfolio {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .splash {
    &__heading {
      font-size: 56px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .splash {
    &__title {
      width: 700px;

      &__text {
        font-size: 44px;
      }
    }

    &__heading {
      font-size: 66px;
    }

    &__portfolio {
      font-size: 22px;
    }
  }
}
